.base {
  border-radius: var(--sp-1);
}

.white {
  background-color: white;
  border: 1px solid var(--c-front);
}

.back {
  background-color: var(--c-back);
  color: var(--c-con-9);
  border: 1px solid var(--c-con-5);
}

.conBack {
  background-color: var(--c-con-1);
  border: 1px solid var(--c-con-5);
}

.xs {
  max-width: var(--sp-xs);
  width: 100%;
  margin-inline: auto;
}

.sm {
  max-width: var(--sp-sm);
  width: 100%;
  margin-inline: auto;
}

.md {
  max-width: var(--sp-md);
  width: 100%;
  margin-inline: auto;
}

.lg {
  max-width: var(--sp-lg);
  width: 100%;
  margin-inline: auto;
}

.tabPanel {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
