html,
body,
div#app {
  min-height: 100dvh;
}

div#app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: var(--c-back);
  color: var(--c-con-9);
}

:root {
  --c-back: aliceblue;
  --c-front: royalblue;
  --c-con-1: rgba(0, 0, 0, 10%);
  --c-con-2: rgba(0, 0, 0, 20%);
  --c-con-3: rgba(0, 0, 0, 30%);
  --c-con-4: rgba(0, 0, 0, 40%);
  --c-con-5: rgba(0, 0, 0, 50%);
  --c-con-6: rgba(0, 0, 0, 60%);
  --c-con-7: rgba(0, 0, 0, 70%);
  --c-con-8: rgba(0, 0, 0, 80%);
  --c-con-9: rgba(0, 0, 0, 90%);
  --c-conf-1: rgba(255, 255, 255, 10%);
  --c-conf-2: rgba(255, 255, 255, 20%);
  --c-conf-3: rgba(255, 255, 255, 30%);
  --c-conf-4: rgba(255, 255, 255, 40%);
  --c-conf-5: rgba(255, 255, 255, 50%);
  --c-conf-6: rgba(255, 255, 255, 60%);
  --c-conf-7: rgba(255, 255, 255, 70%);
  --c-conf-8: rgba(255, 255, 255, 80%);
  --c-conf-9: rgba(255, 255, 255, 90%);
  --sp-0: 0px;
  --sp-0_25: 2px;
  --sp-0_5: 4px;
  --sp-1: 8px;
  --sp-2: 16px;
  --sp-3: 24px;
  --sp-4: 32px;
  --sp-5: 40px;
  --sp-xs: 300px;
  --sp-sm: 600px;
  --sp-md: 900px;
  --sp-lg: 1200px;
  --header-height: 56px;
  --sidebar-width: 200px;
  --sidebar-width-collapse: 56px;
}

.pad-0 {
  padding: var(--sp-0);
}

.pad-0_25 {
  padding: var(--sp-0_25);
}

.pad-0_5 {
  padding: var(--sp-0_5);
}

.pad-1 {
  padding: var(--sp-1);
}

.pad-2 {
  padding: var(--sp-2);
}

.pad-3 {
  padding: var(--sp-3);
}

.pad-4 {
  padding: var(--sp-4);
}

.pad-5 {
  padding: var(--sp-5);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.material-icons-outlined {
  vertical-align: bottom;
}
